/* Add mobile styles for the component here.  */
// @font-face {
//     font-family: 'IcoMoon-Free';
//     src: url('../../fonts/IcoMoon-Free.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
.icon{
    font-family: 'IcoMoon-Free'!important;
}
.container-page{
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-content: center;
}
.form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 4rem;
}
.input-field{

}
.input{
    
    padding-left: 20;
    padding-right: 20;
    padding-top: 15;
    padding-bottom: 15;
    background: rgb(226, 226, 226)
}
.btn{
    padding-left: 20;
    padding-right: 20;
    padding-top: 20;
    padding-bottom: 20;
}
.btn-primary{
    background: red
}